<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="courier_continue.css">
    <title>Track</title>
    </head>
<body>
    <div class = "header">
        <p class = "Company">Company name</p>
        <p class = "Courier_name">Акжан Фамилия</p>
        <input type = "button" value = "Выйти" class = "header_logout">
    </div>

    <div class = "courier_info">
        <div class = "courier_photo">
            <img src = "courier.jpg" alt = "Courier Photo">
        </div>
        <div class = "courier_details">
            <h2 class="courier_name">Aкжан Фамилия</h2>
            <p class="company_name">Company Name</p>
            <p class="order_count">Заказов всего: </p>
            <div class ="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="rating_number">4.8</span>
            </div>
        </div>
    </div>

	<div class = "new_order"> 
        <h2>Текущий заказ:</h2>
		<h3>Номер заявки:</h3>
		<h3>ФИО клиента:</h3>
		<h3>Название госуслуги:</h3>
        <h3>Адрес доставки:</h3>
		<button class="getCode-btn">Ввести код</button>
	</div>

</body>
</html>