<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'courier3_style.css' %}">
    <title>Courier-Client</title>
    </head>
<body>
    <div class = "header">
        <p class = "Company">{{courier_company}}</p>
        <p class = "Courier_name">{{courier_name}}</p>
        <a href="{% url 'logout' %}"><input type = "button" value = "Выйти" class = "header_logout"></a>
    </div>

    <div class = "common">
        <div class = "info_on_order">
            <h3>Документ №{{order_id}}</h3>
            <p>ФИО клиента: {{order_client}}</p>
            {% if order_trustee %}
            <p>ФИО доверенного лица: {{trustee}}</p>
            {% endif %}
            <p>Название госуслуги: {{order_description}}</p>
            <p>Время оформления доставки: {{order_time}}</p>
        </div>
        <div class = "track_form">
            <p>Подтвердите доставку</p>
            <form method = "post">
                {% csrf_token %}
                <div>
                    <input type = "text" class = "enter_code" name = "code" placeholder = "Введите код с СМС клиента"><br>
                </div>
                <input type = "submit" name = 'confirm' value = "Подвердить" class = "code_submit_button">
            </form> 
            </div>
        </div>
    </div>
</body>
</html>