{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'courier_continue.css' %}">
    <title>Track</title>
    </head>
<body>
    <div class = "header">
        <p class = "Company">{{courier_company}}</p>
        <p class = "Courier_name">{{courier_name}}</p>
        <a href="{% url 'logout' %}"> <input type = "button" value = "Выйти" class = "header_logout"></a>
    </div>

    <div class = "courier_info">
        <div class = "courier_details">
            <h2 class="courier_name"> {{courier_name}} </h2>
            <p class="company_name"> {{courier_company}} </p>
            <div class ="rating">
                {% for i in range %}
                    {% if i < courier_rating %}
                        <span class="star">&#9733;</span>
                    {% else %}
                        <span class="star">&#9734;</span>
                    {% endif %}
                {% endfor %}
                <span class="rating_number">{{ courier_rating}}</span>
            </div>
        </div>
    </div>

	<div class = "new_order"> 
        <h2>Текущий заказ: </h2>
		<h3>Номер заявки: {{order_id}}</h3>
		<h3>ФИО клиента:{{order_client}} </h3>
		<h3>Название госуслуги: {{order_description}}</h3>
        <h3>Отделение ЦОНа: {{order_department}}</h3>
		<h3>Адрес ЦОНа: {{order_dep_address}}</h3>
        <h3>Адрес доставки: {{order_address}}</h3>
        <form action="" method="post">
            {% csrf_token %}
            <button class="getCode-btn" name='stop' value = 'stop'> Завершить заказ</button>
        </form>
	</div>

</body>
</html>