<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
<title>Track</title>
</head>
<body>
    <div class = "header">
        <input type = "button" value = "Track" class = "header_track">
        <input type = "button" value = "Log in" class = "header_login">
    </div>
    <div class = "track_form">
        <form method = "post">
            <div>
                <input type = "text" class = "" id = "iin" name = "iin" placeholder = "Введите ИИН"><br>
                <input type = "text" id = "order_number" name = "order_number" placeholder = "Введите номер услуги"><br>
            </div>
            <input type = "submit" value = "Отследить документ" class = "track_form_button">
        </form> 
    </div>
</body>
</html>