<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'payment_style.css' %}">
<title>Payment</title>
</head>
<body>
    <div class = "header">
        <p class = "contact">1414</p>
        <p class = "contact_call">+7-7172-906-984</p>
        <input type = "button" value = "Отследить" class = "header_track">
        <a href="{% url 'login' %}"><input type = "button" value = "Войти" class = "header_login"></a>
    </div>
    <div class = "payment_info">
        <form method = "post">
            {% csrf_token %}
            <div class = "inps">
                <input type = "text" class = "card_num"" id = "card_num" name = "card_num"" placeholder = "Номер карты"><br>
                <input type = "text" id = "card_name" name = "card_name" placeholder = "Имя на карте"><br>
                <input type = "password" class = "cvv" id = "cvv" name = "cvv" placeholder = "cvv">
                <input type = "text" class = "year" id = "year" name = "year" placeholder = "Год">
                <input type = "text" class = "month" id = "month" name = "month" placeholder = "Месяц">
                <label class="checkbox_container">
                    <input type = "checkbox" class = "password_toggle" onclick = "showPassword()">Показать CVV
                        <script>
                            function showPassword() {
                                var x = document.getElementById("cvv");
                                if (x.type === "password") {
                                    x.type = "text";
                                } else {
                                    x.type = "password";
                                }   
                            }
                        </script>
                    <span class="checkmark"></span>
                </label>
            </div>
                <input type = "submit" value = "Оплатить" class = "track_form_button">
            
            
        </form> 
    </div>
</body>
</html>