<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'payment.css' %}">
<title>Payment</title>
</head>
<body>
    <div class = "header">
        <p class = "contact">1414</p>
        <p class = "contact_call">+7-7172-906-984</p>
        <input type = "button" value = "Отследить" class = "header_track">
        <a href="{% url 'login' %}"><input type = "button" value = "Войти" class = "header_login"></a>
    </div>
    <div class = "track_form">
        <p class = "titled">Выберите курьерскую службу и подтвердите маршрут</p>
        <p class = "dep"><em><strong>Отделение:</strong></em> {{ dep_name }}</p>
        <p class = "del"><em><strong>Адрес доставки:</strong></em> {{ address  }}</p>
        <form method = "post">
        {% csrf_token %}
        <select class = "dels">
            {% for company in companies %}
            <option name = "{{company.company_name}}">{{company.company_name}} - {{company.company_cost}}</option>
            {% endfor %}
        </select>
        <input type = "submit" value = "Перейти к оплате" class = "proceed">
        </form>
        <div class = "map">
            <div id="map" style="width:600px; height: 400px;"></div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd0kKAY8yNMxSL0847Lf7rUexclIDQT10&libraries=places"></script>

<script>
    const map = new google.maps.Map(document.getElementById("map"), {
        center: new google.maps.LatLng(+"{{address_lat|stringformat:".2f" }}", +"{{address_lng|stringformat:".2f"}}"),
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
    });
    
    const directionsService = new google.maps.DirectionsService();

    new google.maps.Marker({
        position: {'lat':+'{{address_lat|stringformat:".8f"}}', 'lng':+'{{address_lng|stringformat:".8f"}}'},
        map,
        title: "{{address_map}}",
      });
    
    new google.maps.Marker({
        position: {'lat':+'{{address_dep_lat|stringformat:".8f"}}', 'lng':+'{{address_dep_lng|stringformat:".8f"}}'},
        map,
        title: "{{address_dep}}",
      });

    directionsService.route(
        {
                origin: new google.maps.LatLng('{{address_lat|stringformat:".8f"}}', '{{address_lng|stringformat:".8f"}}'),
                destination: new google.maps.LatLng('{{address_dep_lat|stringformat:".8f"}}', '{{address_dep_lng|stringformat:".8f"}}'),
                travelMode: "DRIVING",
        },
        (response, status) => {
            if (status === "OK") {
    
                new google.maps.DirectionsRenderer({
                    suppressMarkers: true,
                    directions: response,
                    map: map,
                    polylineOptions: {
                        strokeColor: "green"
                      }
                  });
            }
        }
    )

      
</script>
</body>
</html> 