{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'tson_style.css' %}">
    <title>Tson POV</title>
    </head>
<body>
    <div class = "header">
        <p class = "Department">{{em_dep}} | {{dep_address}}</p>
        <p class = "Employee_name">{{em_name}}</p>
        <input type = "button" value = "Выйти" class = "header_logout">
    </div>
    <table class="order_table">
        <tr>
            <th>ФИО Клиента (или доверенного лица)</th>
            <th>Название госуслуги</th>
            <th>Время оформления заказа на доставку</th>
            <th></th>
        </tr>
        {% for order in orders %}
        <tr>
            <th>{{ order.client_name }}</th>
            <th>{{ order.description }}</th>
            <th>{{ order.date }}</th>
            
            <td>
                <a href="{% url 'employee_page_cont' username=user order_id=order_num %}">
                    <button class="decline-btn">Выдать</button>
                </a>
            </td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>