{% load static %}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{%static 'tson_cont_style.css'%}">
<title>Tson POV Cont</title>
</head>
<body>
    <div class = "header">
        <p class = "Department">{{em_dep}} | {{dep_address}}</p>
        <p class = "Employee_name">{{em_name}}</p>
        <a href="{% url 'logout' %}"><input type = "button" value = "Выйти" class = "header_logout"></a>
    </div>

    <div class = "common">
        <div class = "info_on_order">
            <h3>Документ №{{order_id}}</h3>
            <p>ФИО клиента: {{order_client}}</p>
            <p>ФИО доверенного лица: {{trustee}}</p>
            <p>Название госуслуги: {{order_desc}}</p>
            <p>Время оформления доставки: {{order_date}}</p>
            <a href= {% url 'employee_page' user%}><input type = "button" value = "Выбрать другой документ" class = "goBackOrders"></a>
        </div>
        <div class = "info_on_courier">
            <h3>Курьер:  </h3>
            <p>ФИО курьера: {{order_courier}} </p>
            <p>Компания: {{order_comp}} </p>
            <div class = "track_form">
                <p>Подвердите курьера</p>
                <form method = "post">
                    {% csrf_token %}
                    <div>
                        <input type = "text" class = "enter_code" name = "code" placeholder = "Введите код с СМС курьера"><br>
                    </div>
                    <input type = "submit" value = "Подвердить" class = "code_submit_button">
                </form> 
            </div>
        </div>
    </div>
</body>
</html>