{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'tson_style.css' %}">
    <title>Tson POV</title>
    </head>
<body>
    <div class = "header">
        <p class = "Department">{{em_dep}} | {{dep_address}}</p>
        <p class = "Employee_name">{{em_name}}</p>
        <input type = "button" value = "Выйти" class = "header_logout">
    </div>
    <table class="order_table">
        <tr>
            <th>ФИО Клиента (или доверенного лица)</th>
            <th>Название госуслуги</th>
            <th>Время оформления заказа на доставку</th>
            <th></th>
        </tr>
        {% for order in orders %}
        <tr>
            <th>{{ order.client_name }}</th>
            <th>{{ order.description }}</th>
            <th>{{ order.date }}</th>
            
            <td>
                <a href="http://127.0.0.1:8000/employee/{{user}}/{{order_num}}">
                    <input type = "button" value = "Выдать" class = "decline-btn">
                </a>
            </td>
            
        </tr>s
        {% endfor %}
    </table>
</body>
</html>