body {
    margin: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #8492ff;
}

.contact {
    margin-top: 18px;
    font-size: 15px;
    position: absolute;
    left: 20px;
    height: 100%;
    color: #f5f8fc;
    padding: 0;
}

.contact_call {
    margin-top: 18px;
    font-size: 15px;
    position: absolute;
    left: 70px;
    height: 100%;
    color: #f5f8fc;
    padding: 0;
}

.header input { 
    font-size: 18px;
    transition: 0.2s;
    position: absolute;
    height: 100%;
    text-decoration: none;
    color: #f5f8fc;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: #8492ff;
}

.header input:hover {
    background-color: #7b8aff;
    transition: 0.2s;
}

.header_track {
    top: 0;
    right: 140px;
    width: 125px;
}

.header_login {
    top: 0;
    right: 50px;
    width: 90px;
}

.track_form {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 550px;
    border-radius: 0 5px 5px 0;
    background-color: #c0c7ff;
    color: #f4f9ff;
}

.track_form p {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #ffffff;
}

.all_inputs {
    text-align: center;
}

.inputs_short input {
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
    width: 200px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;
}

.enteriin {
    margin-top: 15px;
}

::placeholder {
    color: #a3aad7;
}

.track_form_button {
    position: absolute;
    right: 25px !important;
    transition: 0.2s;
    margin-top: 115px;
    font-size: 20px;
    height: 50px;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    background-color: #8492ff;
    border-radius: 2px;
}

.track_form_button:hover {
    transition: 0.2s;
    background-color: #7b8aff;
}

.checkbox_container {
    color: #fff;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .c_1 {
    position: absolute;
    padding: 0 25px 0 50px;
    top: 355px;
    left: 0;
    font-size: 12px;
  }

  .c_2 {
    position: absolute;
    padding: 0 25px 0 50px;
    top: 410px;
    left: 0;
    font-size: 12px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 25px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox_container:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox_container input:checked ~ .checkmark {
    background-color: #8492ff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox_container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.all_text {
    background-color: #a2adff;
    color: #f4f9ff;
    padding: 0;
    margin: 0;
    position: absolute;
    border-radius: 5px 0 0 5px;
    width: 405px;
    left: 0;
    height: 550px;
}

.text_except_title {
    margin: 0 0 0 20px;
}

.main {
    font-size: 25px;
}

.main_sub {
    padding: 20px;
    font-size: 20px !important;
    background-color: #8492ff;
    border-radius: 0 5px 0 0;
}

.service {
    font-size: 18px;
}

.sector {
    font-size: 18px;
}

.main_2 {
    font-size: 22px;
}

.initials {
    font-size: 18px;
}

.phone {
    font-size: 18px;
}

.main_3 {
    font-size: 22px;
}

.region {
    appearance: none;
    padding: 5px 10px;
    font-size: 16px;
    width: 200px;
    margin: 30px 0 15px 25px;
    box-sizing: border-box;
    border: 0px;
    height: 30px;
    border-radius: 2px;
    background: #fff;
    color: #a3aad7
}

.extra {
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
    width: 650px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 2px;
}

.main_block {
    position: relative;
    top: 150px;
    margin: 0 auto;
    width: 1100px;
    height: 550px;
}